@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~select2/src/scss/core';
@import 'variables';
.pagination {
    margin: 0;
}
.btn.btn-link.dropdown-toggle {
    color: white;
    font-weight: bold;
}
